@import 'base/fonts';
@import 'base/variables';
@import 'base/media';

* {
    font-family: 'MuseoSansCyrl', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 25px;
}
.title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #0d0d0d;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';