.advantages {
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__items {
        margin-top: 65px;
        display: flex;
        justify-content: space-around;
    }
    &__item {
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            width: 70px;
            height: 70px;
        }
        .item__title {
            margin-top: 38px;
            font-size: 18px;
            font-weight: 700;
            color: #0d0d0d;
        }
        .item__text {
            margin-top: 26px;
            font-size: 14px;
            font-weight: 300;
            color: #0d0d0d;
            a {
                text-decoration: underline;
                color: #ff0000;
            }
        }
    }
}