.carousel {
    padding: 81px 0px;
    .container {
        max-width: 750px;
    }
    &__wrapper {
        margin: 0 auto;
        display: flex;
        img {
            margin: 0 auto;
            width: 100%;
        }
    }
    .prev, .next {
        background: None;
        // padding-right: 70px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next {
        right: -66px;
        left: auto;
        // padding-right: 0;
        // padding-left: 70px;
    }
}
