.reviews {
    padding-bottom: 71px;
    &__items {
        margin-top: 70px;
        hr {
            height: 1px;
            background-color: #f6f6f6;
            margin: 48px 0 53px 0;
        }
    }
    &__item {
        display: flex;
    }
    &__img {
        img {
            width: 169px;
            height: 169px;
        }
    }
    &__text {
        margin-left: 62px;
    }
    &__header {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__subheader {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__description {
        margin-top: 19px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
    }
}