@media (max-width: 1140px) {
    .promo {
        background: url('../img/header_bg.jpg') -250px (center/cover) no-repeat;
    }
}
@media (max-width: 992px) {
    .carousel {
        .container {
            button {
                display: none;
            }
        }
    }
    .catalog {
        &__content {
            justify-content: space-evenly;
        }
    }
}
@media (max-width: 767px) {
    .header {
        &__official {
            display: none;
        }
    }
    .advantages {
        &__items {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 400px;
            .item__title {
                margin-top: 20px;
            }
            .item__text {
                margin-top: 16px;
                margin-bottom: 30px;
            }
        }
    }
    .consultation {
        text-align: center;
        &__form {
            margin: 36px auto 0 auto;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__logo {
            width: 200px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__title {
            text-align: center;
            font-size: 30px;
        }
        &__subtitle {
            margin-top: 40px;
            text-align: center;
            font-size: 20px;
        }
        &__icons {
            width: 100%;
            justify-content: space-around;
        }
    }
    .advantages {
        &__title {
            font-size: 24px;
        }
    }
    .consultation {
        &__title {
            font-size: 28px;
        }
        &__description {
            margin-top: 55px;
            font-size: 16px;
        }
    }
    .catalog {
        &__title {
            font-size: 24px;
        }
        &__tabs {
            margin-top: 40px;
        }
        &__tab {
            font-size: 12px;
        }

    }
    .reviews {
        &__title {
            font-size: 24px;
        }
        &__items {
            margin-top: 40px;
            hr {
                margin: 40px 0 25px 0;
            }
        }
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__img {
            img {
                width: 125px;
                height: 125px;
            }
        }
        &__text {
            margin-left: 40px;
            margin-left: 0;
            margin-top: 20px;
        }
    }
}

@media (max-width: 425px) {
    .container {
        padding: 0 10px;
    }
    .promo {
        &__icon {
            padding: 0 10px;
        }
    }
    .header {
        &__logo {
            width: 170px;
        }
        &__phone {
            font-size: 12px;
        }
        &__contacts {
            button {
                width: 125px;
            }
        }
    }
    
    .advantages {
        &__item {
            width: 100%;
        }
    }
    .button_main {
        margin-top: 37px;
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }
        &__tab {
            margin-top: 15px;
            width: 175px;
        }
        &__content {
            margin-top: 40px;
        }
    }
}